*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #e5e5e5;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Courier New', Courier, monospace;
}
.space{
    cursor: pointer;
    background: transparent;
    width: 100px;
    height: 100px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
table{
    border: 1px solid black;
}

.board{
    width: 350px;
    height: 350px;
    display: flex;
    flex-wrap: wrap;
    gap:25px;
}
#b2::before{
    content: '';
    position: absolute;
    height: 400px;
    width: 25px;
    background: rgb(53, 52, 52);
    z-index: 2;
    top: -150px;
    left: -25px;
    box-shadow: 125px 0px rgb(53, 52, 52);
    border-radius: 10px;

}
#b2::after{
    content: '';
    position: absolute;
    height: 26px;
    width: 400px;
    background: rgb(53, 52, 52);
    z-index: 2;
    top: -25px;
    left: -150px;
    box-shadow: 0px 125px rgb(53, 52, 52);
    border-radius: 10px;
}

.game{
    margin-top: 15vh;
    display: flex;
    flex-direction: column;
}
#text{
    margin: 0 auto 55px auto;
    background: rgb(3, 189, 130);
    padding: 5px 20px;
    border: #202020 5px solid;
    border-radius: 20px;
}
h3{
    font-size: 750%;
}
span{
    font-size: 120%;
    text-shadow: 1px 1px white;
}
.finalwindow{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 30px 20px;
    width: 400px;
    height: 400px;
    box-shadow: 1px 1px 5px 5px rgb(53, 52, 52);
    border-radius: 50px;
}
.finalwindow h2{
    margin: 0 auto;
    width: 350px;
    height: 50px;
    background: rgb(3, 189, 130);
    padding: 5px 10px;
    border: #202020 5px solid;
    border-radius: 20px;
}

img{
    margin: 20px auto;
    width: 200px;
    height: 200px;
    border: 2px solid #202020;
    border-radius: 20px;
}
button{
    font-family: 'Courier New', Courier, monospace;
    cursor: pointer;
}

#playAgain{
    font-size: 150%;
    text-decoration: none;
    font-weight: 1000;
    margin: 0 auto;
    background: rgb(3, 189, 130);
    padding: 5px 10px;
    border: #202020 2px solid;
    border-radius: 20px;
    transition: ease;
}
#playAgain:hover{
    transform: scale(1.04);
    transition: .2s;
    box-shadow: 4px 3px #202020;
}

.finalwindow h2.tie{
    width: 250px;
    height: 50px;
    background: rgb(3, 189, 130);
    padding: 5px 25px;
    border: #202020 5px solid;
    border-radius: 20px;
}