*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #e5e5e5;
    font-family: 'Courier New', Courier, monospace;
}
.main{
    display: flex;
    margin: 15vh auto 0 150px;
    gap: 100px;
}
.space{
    cursor: pointer;
    background: transparent;
    width: 100px;
    height: 100px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
table{
    border: 1px solid black;
}

.board{
    width: 350px;
    height: 350px;
    display: flex;
    flex-wrap: wrap;
    gap:25px;
}
.center::before{
    content: '';
    position: absolute;
    height: 400px;
    width: 25px;
    background: rgb(53, 52, 52);
    z-index: 2;
    top: -150px;
    left: -25px;
    box-shadow: 125px 0px rgb(53, 52, 52);
    border-radius: 10px;

}
.center::after{
    content: '';
    position: absolute;
    height: 26px;
    width: 400px;
    background: rgb(53, 52, 52);
    z-index: 2;
    top: -25px;
    left: -150px;
    box-shadow: 0px 125px rgb(53, 52, 52);
    border-radius: 10px;
}

.game{
    display: flex;
    flex-direction: column;
}
#text{
    margin: 0 auto 55px auto;
    background: rgb(3, 189, 130);
    padding: 5px 20px;
    border: #202020 5px solid;
    border-radius: 20px;
}
h3{
    font-size: 750%;
}
span#turn{
    font-size: 120%;
    text-shadow: 1px 1px white;
}
.finalwindow{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 30px 20px;
    width: 400px;
    height: 400px;
    box-shadow: 1px 1px 5px 5px rgb(53, 52, 52);
    border-radius: 50px;
}
.finalwindow h2{
    margin: 0 auto;
    width: 350px;
    height: 50px;
    background: rgb(3, 189, 130);
    padding: 5px 10px;
    border: #202020 5px solid;
    border-radius: 20px;
}

img{
    margin: 20px auto;
    width: 200px;
    height: 200px;
    border: 2px solid #202020;
    border-radius: 20px;
}
button{
    font-family: 'Courier New', Courier, monospace;
    cursor: pointer;
}

#playAgain{
    font-size: 150%;
    text-decoration: none;
    font-weight: 1000;
    margin: 0 auto;
    background: rgb(3, 189, 130);
    padding: 5px 10px;
    border: #202020 2px solid;
    border-radius: 20px;
    transition: ease;
}
#playAgain:hover{
    transform: scale(1.04);
    transition: .2s;
    box-shadow: 4px 3px #202020;
}

.finalwindow h2.tie{
    width: 250px;
    height: 50px;
    background: rgb(3, 189, 130);
    padding: 5px 25px;
    border: #202020 5px solid;
    border-radius: 20px;
}
div.nav{
    margin-top: 20px;
    box-shadow: 1px 1px 5px 5px rgb(53, 52, 52);
    padding: 20px;
    border-radius: 10px;
}

ul{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 30px 20px 0 20px;
}
ul li a{
    text-decoration: none;
    color: #202020;
    font-weight: 800;
    font-size: 120%;
    position: relative;
}
ul li a::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 5px;
    background: rgb(3, 189, 130);
    left: 0;
    bottom: -3px;
    border-radius: 2px;
    transition: .3s ease;
    transform: scale(0);
}
ul li a:hover::after{
    transition: .3s ease;
    transform: scaleX(1);
}

ul li a.active::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 5px;
    background: rgb(3, 189, 130);
    left: 0;
    bottom: -3px;
    border-radius: 2px;
    transform: scale(1);
}
.space2{
    cursor: pointer;
    background: transparent;
    width: 20px;
    height: 20px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.g2 .space{
    cursor: default;
    background: transparent;
    width: 100px;
    height: 100px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 6px;
    padding: 14px;
    transform: scale(1);
    transition: .3s;
}
.g2 .space:hover{
    transform: scale(3);
    transition: .3s ease;
    background: #e5e5e5;
    border: #202020 1px solid;
    padding: 12px;
    z-index: 3;
}
.g2 .center2::before{
    content: '';
    position: absolute;
    height: 77px;
    width: 7px;
    background: rgb(53, 52, 52);
    z-index: 2;
    top: -29px;
    left: -6px;
    box-shadow: 25px 0px rgb(53, 52, 52);
    border-radius: 10px;

}
.g2 .center2::after{
    content: '';
    position: absolute;
    height: 7px;
    width: 77px;
    background: rgb(53, 52, 52);
    z-index: 2;
    top: -6px;
    left: -29px;
    box-shadow: 0px 25px rgb(53, 52, 52);
    border-radius: 5px;
}
.g2 .center:hover::after{
    background: rgb(53, 52, 52, 10%);
    box-shadow: 0px 125px rgb(53, 52, 52, 10%);
    transition: .3s;
}
.g2 .center:hover::before{
    background: rgb(53, 52, 52, 10%);
    box-shadow: 125px 0px rgb(53, 52, 52, 10%);
    transition: .3s;
}

.g2 .space.marked:hover{
    transform: scale(1);
    border: none;
    padding: 0 13px 14px 17px;
    z-index: 1;
}
.g2 .space.center.marked:hover::after{
    background: rgb(53, 52, 52);
    box-shadow: 0px 125px rgb(53, 52, 52);
}
.g2 .space.center.marked:hover::before{
    background: rgb(53, 52, 52);
    box-shadow: 125px 0px rgb(53, 52, 52);
}
.g2 .space.marked{
    padding: 0 13px 14px 17px;
    font-size: 90%;
}
